<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insurance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sfsp"></activity>
        <activity android:name=".misc" />
        <activity android:name=".pasenger" />
        <activity android:name=".one_year_goods" />
        <activity android:name=".one_year_taxi" />
        <activity android:name=".main_menu_rickshaw" />
        <activity android:name=".auto_ricksaw" />
        <activity android:name=".one_yer_prcar" />
        <activity android:name=".mai_menu_prcar" />
        <activity android:name=".one_year" />
        <activity android:name=".main_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>